* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    /* border: 1px solid green; */
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    
}
#main-container {
    display: grid;
    grid-template-columns: auto 5fr;
    grid-template-rows: auto 1fr;

    height: 100vh;
    max-width: 100vw;
    /* resize: both;
    overflow: auto; */
    overflow-x: hidden;
    overflow-y: hidden;
   
}

a {
    color: white;
    text-decoration: none;
}


#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    padding: 20px ;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(50, 142, 233);
    color: white;
    width: 250px;
    /* height: 100vh;        */
}
#sidebar ul li a:hover {
    color: rgba(240, 178, 52, 0.985);
    
   
}
#sidebar ul li a:active {
    color: rgb(15, 13, 140);
   
}

#sidebar > p {
    padding-top: 15px;
    margin-bottom: 60px;
    font-size: 25px;
 
}
#dashboard {
    margin-bottom: 70px;
}


#dashboard > li, 
#options > li {
    margin-bottom: 20px;
}


#sidebar > p > i {
    margin-right: 10px;
    font-size: 30px;
}
#dashboard > li > a > i,
#options > li > a > i  {
    margin-right: 20px;
    font-size: 21px;
}




#first-container {
    display: flex;
    padding: 20px 50px 0px;
    align-items: center;
}

#first-container > form {
    margin-right: 70px;
    font-size: 24px;
    display: flex;
    padding: 10px;
   
}


#first-container > form > input {
    width: 700px;
    height: 25px;
    border-radius: 30px;
    background-color: rgba(242, 236, 236, 0.997);
    border: none;
    margin-left: 10px;
    padding: 10px;
}

#first-container > div {
    display: flex;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    
}
#first-container > div > div, 
#first-container > div > img, 
#first-container > div > p {
    margin: 10px;
}


#first-container > div > img {
    border-radius: 50px;
    margin: 0 30px;
}


#second-container {
    display: flex;
    align-items: center;
    padding: 15px 60px;
    font-weight: bolder;
    font-size: 18px;
    box-shadow: 0px 5px 2px 0.5px rgba(220, 212, 212, 0.997);
    position: relative;
    z-index: 100;



}

#second-container > img {
    border-radius: 50px;
    margin-right: 30px;
    


}
#second-container > #username {
    margin-right: 370px;
    width: 300px;

}

#username {
    font-size: 14px;
    line-height: 30px;
}
#username > p > span {
    font-size: 20px;
}
#second-container > #new-upload-share {
    display: flex;
    gap: 30px;


}
#second-container > #new-upload-share > div {
    color: white;
    background-color: rgb(50, 142, 233);
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

#second-container > #new-upload-share > div:hover {
    background-color: rgba(240, 178, 52, 0.985);

}
#second-container > #new-upload-share > div:active {
    background-color:  rgb(15, 13, 140);
    
}



#main-content {
    background-color: rgba(242, 236, 236, 0.997);

    display: grid;  
    grid-template-columns: 3fr 1fr;
    width: 100wh;
    overflow-y: auto;

}
#main-content > div > h3 {
    font-size: 24px;
    padding: 40px 20px 10px;
   
}

#your-projects {

  
    padding: 0px 30px 20px;
    
    display: grid;


    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

}
#your-projects > div {
    border: 1px solid black;
    background-color: white;
    padding: 20px 30px;
    

    border-radius: 10px;
    border: none;
    border-left: 10px solid #f0b429;;


 
    position: relative;  
    overflow: visible;
}
#your-projects > div > h3 {

    font-weight: bold;
    margin-bottom: 10px;
}
#your-projects > div > p {
    font-size: 15px;

    margin-bottom: 20px;

}
#your-projects > div > div {
    display: flex;
    justify-content: end;
    gap: 20px;
    font-size: 24px;
    margin: 10px 0px;

    
}



#your-projects > div > div > div:hover {
    color: rgba(240, 178, 52, 0.985);
    animation: wiggle 0.5s ease-in-out infinite;
    cursor: pointer;
    
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
#your-projects > div > div > div:active {
    color: rgb(15, 13, 140);
}


#announcement-trending {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    gap: 20px;

}

#announcement-trending > div > h3 {
    
    font-size: 24px;
    padding: 20px 20px 10px 0px;
   
}

#announcements {
    border: none;
    padding: 30px 30px;
    border-radius: 10px;
    background-color: white ;
    
}
#announcements > div {
    margin-bottom: 20px;
    width: 200px;
    
    padding-bottom: 10px;
    

}

#announcements > .box-shadow {
    box-shadow: 0px 2px 0px 0px rgba(220, 212, 212, 0.997);
}


#announcements > div > p {


    display: -webkit-box;       /* Use a flexbox-like container */
    -webkit-box-orient: vertical; /* Set the box orientation to vertical */
    overflow: hidden;            /* Hide overflowing content */
    text-overflow: ellipsis;     /* Add ellipsis for overflowing text */
    line-height: 1.5;            /* Set line height */
    max-height: 4.5em;           /* Limit the height (3 lines * 1.5em line height) */
    -webkit-line-clamp: 3;       /* Limit to 3 lines */
      
}

#trending {

    border: none;
    padding: 0px 30px 30px;
    border-radius: 10px;
    background-color: white ;
    

    
}

#trending > div {
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}
#trending > div > img {
    border-radius: 50%;
}



#trending > div > div > h4 {
    margin-bottom: 5px;
}